In [33]:
import pandas as pd

Créer un dataframe à partir d'un dictionnaire

In [34]:
data_dict = {
    'first_name' : ['hassane','sara','francis','laura'],
    'last_name' : ['mamane','tamami','eustler','chavez'],
    'email' : ['hassanemmn@gmail.com','sara@gmail.com','francisestl@gmail.com','laura@gmail.com'],
    'date_of_birth':['16/02/2001','21/03/2001','30/07/2002','14/10/2003'],
    'answer' : [True,False,False,True],
}
df = pd.DataFrame(data_dict)
df

  first_name last_name                  email date_of_birth  answer
0    hassane    mamane   hassanemmn@gmail.com    16/02/2001    True
1       sara    tamami         sara@gmail.com    21/03/2001   False
2    francis   eustler  francisestl@gmail.com    30/07/2002   False
3      laura    chavez        laura@gmail.com    14/10/2003    True

Lire une colonne

In [35]:
df['date_of_birth']

0    16/02/2001
1    21/03/2001
2    30/07/2002
3    14/10/2003
Name: date_of_birth, dtype: object

Lire plusieurs colonnes

In [36]:
df[['first_name','answer']]

  first_name  answer
0    hassane    True
1       sara   False
2    francis   False
3      laura    True

Voir les colonnes

In [37]:
df.columns

Index(['first_name', 'last_name', 'email', 'date_of_birth', 'answer'], dtype='object')

Voir une ligne

In [38]:
df.iloc[1]

first_name                 sara
last_name                tamami
email            sara@gmail.com
date_of_birth        21/03/2001
answer                    False
Name: 1, dtype: object

Voir plusieurs listes

In [39]:
df.iloc[[1,3]]

  first_name last_name            email date_of_birth  answer
1       sara    tamami   sara@gmail.com    21/03/2001   False
3      laura    chavez  laura@gmail.com    14/10/2003    True

Voir des lignes et des colonnes

In [40]:
df.iloc[[1,3],[0,2]]

  first_name            email
1       sara   sara@gmail.com
3      laura  laura@gmail.com

Avec loc, on peut utiliser les labels

In [41]:
df.loc[[1,3],['first_name', 'last_name', 'email']]

  first_name last_name            email
1       sara    tamami   sara@gmail.com
3      laura    chavez  laura@gmail.com

Compter les valeurs d'une colonne

In [42]:
df['answer'].value_counts()

answer
True     2
False    2
Name: count, dtype: int64

In [45]:
df.loc[:2,'last_name':'answer']

  last_name                  email date_of_birth  answer
0    mamane   hassanemmn@gmail.com    16/02/2001    True
1    tamami         sara@gmail.com    21/03/2001   False
2   eustler  francisestl@gmail.com    30/07/2002   False

Mettre une colonne en index

In [46]:
df.set_index('email')

                      first_name last_name date_of_birth  answer
email
hassanemmn@gmail.com     hassane    mamane    16/02/2001    True
sara@gmail.com              sara    tamami    21/03/2001   False
francisestl@gmail.com    francis   eustler    30/07/2002   False
laura@gmail.com            laura    chavez    14/10/2003    True

In [47]:
df # il n'a pas vraiment changé

  first_name last_name                  email date_of_birth  answer
0    hassane    mamane   hassanemmn@gmail.com    16/02/2001    True
1       sara    tamami         sara@gmail.com    21/03/2001   False
2    francis   eustler  francisestl@gmail.com    30/07/2002   False
3      laura    chavez        laura@gmail.com    14/10/2003    True

On peut le changer

In [ ]:
df.set_index('email', inplace=True)

In [52]:
df

                      first_name last_name date_of_birth  answer
email
hassanemmn@gmail.com     hassane    mamane    16/02/2001    True
sara@gmail.com              sara    tamami    21/03/2001   False
francisestl@gmail.com    francis   eustler    30/07/2002   False
laura@gmail.com            laura    chavez    14/10/2003    True

In [54]:
df.loc['hassanemmn@gmail.com','first_name':'date_of_birth']

first_name          hassane
last_name            mamane
date_of_birth    16/02/2001
Name: hassanemmn@gmail.com, dtype: object

On peut revenir à la normale

In [55]:
df.reset_index(inplace=True)

In [56]:
df

                   email first_name last_name date_of_birth  answer
0   hassanemmn@gmail.com    hassane    mamane    16/02/2001    True
1         sara@gmail.com       sara    tamami    21/03/2001   False
2  francisestl@gmail.com    francis   eustler    30/07/2002   False
3        laura@gmail.com      laura    chavez    14/10/2003    True